.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="name"], [type="email"] {
  width: 25vw;
  min-height: 45px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 10px;
  outline: none;
  font-family: "Rajdhani", sans-serif;
  color: #010C42;
  font-style: bold;
  font-size: 16px;
}

textarea[name="message"] {
  width: 25vw;
  min-height: 100px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 10px;
  outline: none;
  font-family: "Rajdhani", sans-serif;
  color: #010C42;
  font-style: bold;
  font-size: 16px;
}

button {
  background: white;
  font-family: "Rajdhani", sans-serif;
  color: #010C42;
  font-style: bold;
  font-size: 15px;
}

input[type="name"]:focus, input[type="email"]:focus, textarea[name="message"]:focus {
  background-color: #66dba6;
}

.center-icon p {
  transform: rotate(-90deg);
  font-size: 40px;  
  position: absolute;
  left: -60px;
}