.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60%;
  margin-top: 163px;
}

.icons > a {
  font-size: 100px;
  color: #ef14e7;
  z-index: 10;
}
