.icons  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  margin-top: 100px;
}

.icons > a {
  font-size:100px;
  color: #EF14E7;
  z-index: 10;
}




