@media only screen and (min-width: 320px) and (max-width: 767px) {
  
  .icons > a {
    font-size: 60px;
    color: #ef14e7;
  }

  .audio-control {
    height: 30px;
    width: 90%;
  }
  
  .page-left .text-content {
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 65%;
    overflow: scroll;
    margin-bottom: 20px;
  }
  
  .left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    align-items: center;
  }
  
  .color-box {
    color: white;
    text-align: center;
    justify-content: flex-start;
    height: 5vh;
    width: 20vw;
    background-color: #66DBA6;
    opacity: 1;
    font-size: 15px;
    margin-bottom: 80px;
  }
  
  .color-box a {
    font-size: 15px;
  }

  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    margin-top: 150px;
  }
}



