@media only screen and (min-width: 320px) and (max-width: 767px) {

  .center-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #EF14E7;
    z-index: 10;
  }

  .icons {
    position: fixed;
    width: 100vw;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    height: 110px;
    font-size: 40px;
    color: #EF14E7;
  }

  .icons > a {
    font-size: 40px;
    color: #ef14e7;
  }

  .page-left .text-content {
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 65%;
    overflow: scroll;
    overflow: fixed;
    margin-bottom: 110px;
  }

  .text-content p, h2 {
    opacity: 1;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    align-items: center;
  }

  .color-box {
    color: white;
    text-align: center;
    justify-content: flex-start;
    height: 5vh;
    width: 20vw;
    background-color: #66DBA6;
    opacity: 1;
    font-size: 15px;
    margin-bottom: 70px;
  }

.color-box a {
  font-size: 15px;
}
}
}


