* {
  margin: 0px;
}

.page-left .text-content {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 65%;
}

.page-left .text-content a {
  color: white;
}

.work-page-text-content {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 5%;
}

