* {
  margin: 0px;
}

.page-left .text-content {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 65vh;
  display: flex;
}

.page-left .text-content a {
  color: white;
}

.work-page-text-content {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 17px;
  align-items: center;
}

.text-content p, h2 {
  opacity: 1;
  margin-bottom: 12px;
}
