
.center-icon p {
  transform: translateY(-65px) rotate(-90deg);
  font-size: 40px;
  position: absolute;
  left: 100;
  right: 0; 
}

.color-box {
  color: white;
  text-align: center;
  height: 5vh;
  width: 20vw;
  background-color: #66DBA6;
  opacity: 1;
  font-size: 25px;
  padding: 10px;
  position: flex-start;
}

.color-box a {
  color: white;
}
