
.center-icon p {
  transform: translateY(-65px) rotate(-90deg);
  font-size: 40px;
  position: absolute;
  left: 100;
  right: 0; 
}

.color-box {
  color: white;
  text-align: center;
  height: 100px;
  width: 333px;
  background-color: #66DBA6;
  opacity: 0.6;
}
